body {
    margin: 0;
    background-color: #f8f1f1;
}

main, footer, #header, #nav-bar, #features, .feature, #form, #products, .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header / Navbar */
#header {
    background-color: #11698e;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#nav-bar {
    gap: 7px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: #f8f1f1;
    text-decoration: underline;
}

#header-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-img i {
    color:  #f8f1f1;
    font-size: 48px;
}

#header-img p {
    color:  #f8f1f1;
    font-size: 24px;
}

/* Main */
main {
    margin-top: 25px;
}

/* Newletter */
#form {
    gap: 12px;
}

#form label {
    font-size: 18px;
    font-weight: bold;
}

/* Buttons */
.btn {
    background-color: #11698e;
    border: 1px solid black;
    color: #f8f1f1;
    font-size: 14px;
    padding: 10px 15px;
}

.btn:hover {
    background-color: #19456b;
}

/* Features */
#features {
    margin-bottom: 50px;
    width: 325px;
}

.feature {
    margin-top: 35px;
    text-align: center;
}

.feature i {
    display: none;
}

.feature h3 {
    font-size: 22px;
    margin: 0;
}

.feature p {
    margin-top: 5px;
}

/* Video */
#video {
    width: 325px;
    height: 350px;
}

/* Products */
#products {
    width: 90%;
}

.product {
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: 325px;
    border: 1px solid black;
}

.product-title {
    background-color: #19456b;
    border-bottom: 1px solid #19456b;
    color: #f8f1f1;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.product-img {
    border: 1px solid black;
    margin: 15px 0;
    max-width: 280px;
    height: auto;
}

.product-details {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 280px;
}

.detail {
    padding-bottom: 10px;
}

.price {
    font-size: 20px;
}

.buy {
    border: 1px solid black;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
}

/* Footer */
footer {
    background-color: #19456b;
    color: #f8f1f1;
    margin: 0;
    padding: 15px 0;
}

footer a {
    color: #f8f1f1;
}

footer a:hover {
    font-weight: bold;
}