body {
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* TEMP */
    background-color: aquamarine;
}

#form, #products, .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Products */
#products {
    width: 90%;
}

.product {
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: 325px;
    border: 1px solid black;
}

.product-title {
    text-align: center;
    background-color: #808080;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 15px 0;
    width: 100%;
}

.product-img {
    border: 1px solid black;
    margin: 15px 0;
    max-width: 280px;
    height: auto;
}

.product-details {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 280px;
}

.detail {
    padding-bottom: 10px;
}

.price {
    font-size: 20px;
}

.buy {
    border: 1px solid black;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
}